.main_section{
    width: 100%;
    height: 80vh;
    padding: 50px;
}

.main_container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.main_container h1 {
    font-size: 30px;
    font-weight: 400;
}

.main_container h3 {
    margin-top: 80px;
    font-size: 18px;
    font-weight: 400;
}





