*{
    color: white;
}

header img {
    width: 150px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(236, 90, 22);
    box-shadow: 0px 20px 20px rgb(236, 90, 22);
}

header div{
    display: flex;
    align-items: center;
}

header h1{
    text-shadow: 3px 3px 10px white;
    font-size: 20px;
}

li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 3px 3px 10px white;
}

li:hover{
    color: gray;
    text-shadow: 3px 3px 10px gray;
}
