footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    background-color: rgb(236, 90, 22);
    box-shadow: 0px 20px 20px rgb(236, 90, 22);
    padding: 30px 0px;
    margin-top: 50px;
}

footer div{
    max-width: 300px;
}

footer h2{
    text-shadow: 3px 3px 10px white;
    font-size: 20px;
}

footer img:last-child{
    border-radius: 15px;
    width: 500px;
    border: 5px solid white;
    box-shadow: 3px 10px 30px white;
}

