body{
  background-color: rgb(58, 55, 55);
}



body{
  width: 100%;
  height: 80vh;
  background-color: black;
}
body::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(./images//dark-background-abstract-background-network-3d-background-6016x3384-8324.png);
  background-repeat: repeat;
  background-position: center;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
}

*{
  box-sizing: border-box;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
